
  input:invalid {
    border-color: 2px red;
  }
  
  input:valid {
    border-color: 1px solid rgb(25, 241, 10);
  }

  .but {
	background: #0eda29;
	color: #080808;
	border-style: outset;
	border-color: #66f062;
	/*height: 50px;
	width: 100px;*/
	font: bold15px arial,sans-serif;
	text-shadow: none;
}