/** Safoan **/
.navabar {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(224, 224, 224);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img h3 span {
    color: orange;
    font-weight: bold;
}
.img h3 {
    font-weight: 200;
}

.nav ul {
    display: flex;
}
.nav ul li {
    list-style: none;
    margin-left: 1rem;

}
.nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.nav ul li a:focus {
    color: aqua;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(212, 212, 212);
}



.left h3 {
    font-weight: 100;
    font-size: 30px;
    color: #52767C;
}

.left h1 {
    font-weight: bolder;
    font-size: 46px;
    color: #304d52;
}
.left p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: lighter;
    font-size: 20px;
    color: #52767C;
}

.left button {
    border: none;
    padding: .4rem;
    height: 3rem;
    width: 9rem;
    color: white;
    background-color: #F77462;
}

/** Christophe **/

.container{
    background-image: url(./image/background.png);
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
    width: 100%;
    padding-bottom: 60px;
}

#logo {
    margin: 80px 20px;
}

/* Mathieu */
html {
    position: relative;
    
}
body {
    margin: 0;
    height: 100%;
}
.team {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 29px;
}
.team_container {
    margin: 29px;
    /**display: flex;**/
    justify-content: center;
}
.team_container_img {
    display: block;
    margin: auto;
}
.team_container_content {
    display: block;
    margin: auto;
    text-align: center;
}
.team_container_content_title {
    font-size: 20px;
    font-weight: bold;
}
.team_container_content_paragraph {
    margin-bottom: 30px;
}
.team_container_content_link {
    padding: 15px;
    background-color: #f77462;
    border-radius: 10%;
}
.footer {
    
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: rgba(109,197,221);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_element {
    color: white;
    margin: 0 28px;
}

@media (min-width : 900px) {
    .team_container {
        margin: 29px;
        display: flex;
        justify-content: center;
    }
    .team_container_content {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 0 20px ;
    }
    .team_container_content_link {
        max-width: 40px;
    }
}