.section3 {
  padding: 0.5rem;
  background-color: white;

  h2 {
    color: black;
  }

  div {
    display: flex;

    figure {
      margin-right: 0.5rem;

      figcaption {
        padding: 0.5rem;
        color: black;
      }
    }
  }

  a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
  }
}
