$font-stack: Helvetica,
sans-serif;
$primary: #FFD868;
$secondary: #721B65;
$gray: rgba(0, 0, 0, 0.5);
 
@mixin titleH1($secondary) {
  font-size: 80px;
  color: $secondary;
  font-weight: 700;
}

@mixin titleH2($gray) {
  font-size: 60px;
  color: $gray;
  font-weight: 500;
}
@mixin buttonPrimary() {
  // font-size: 60px;
  // color: $gray;
  // font-weight: 500;
}
@mixin buttonSecondary() {
  // font-size: 60px;
  // color: $gray;
  // font-weight: 500;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}