$font : Helvetica Neue;
$color: #000000;

@mixin display($justify: center){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
}


h2 {
    font-family: $font;
    color: rgba($color, 0.5);
    span{
        color: $color;
    }
}
p {
    font-family: $font;
    color: $color;
}
button {
    @include display();

}
.socials {
    @include display();
    align-items: center;
    padding: 0;
    gap: 50px;
    a{
        width: 111px;
        height: 111px;
        
    }
}